name: CI

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up PHP
        uses: shivammathur/setup-php@v4
        with:
          php-version: '8.4'
          extensions: mbstring, bcmath, xml, sqlite
      - name: Get composer cache
        uses: actions/cache@v4
        with:
          path: ~/.composer/cache
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
      - name: Install dependencies
        run: composer install --no-progress --no-suggest --prefer-dist
      - name: Prepare environment
        run: cp .env.example .env && php artisan key:generate
      - name: Run migrations
        run: php artisan migrate --no-interaction --force
      - name: Run tests
        run: composer test --no-interaction
      - name: Run Pint
        run: vendor/bin/pint
